{% extends "index.html" %}
{% import "macros/blog.html" as blog_macros -%}

{% block content %}
<nav id="overlord" class="overlord" >
    {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl=config.extra.profile) }}
</nav>    

{% set title = "Tags" %}

<header class="header">
    {% block header %}
    <h1 class="site_title">{{title}}</h1>
    {{ blog_macros::menu(classes="header_list", bsize="small", title=title, term_name="") }}
    {% endblock header %}
</header>

{{ blog_macros::titles(terms=terms)}}
{% endblock content %}
