{% extends "index.html" %}
{% import "macros/blog.html" as blog_macros -%}

{% block content %}
<nav id="overlord" class="overlord" >
    {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl=config.extra.profile) }}
</nav>

<header class="header">
    {% block header %}
    <h1 class="site_title">{{page.title}}</h1>
    {{ blog_macros::menu(classes="header_list", bsize="small", title=page.title, term_name="") }}
    {% endblock header %}
</header>

{% set section = get_section(path="blog/_index.md") %}
{{ blog_macros::posts(pages=section.pages) }}
    
{% endblock content %}
